<p id="notice"><%= notice %></p>

<p>
  <strong>名前</strong>
  <%= @item.name %>
</p>

<p>
  <strong>年齢</strong>
  <%= @item.age %>
</p>

<p>
  <strong>性別</strong>
  <%= sexCodeToStr @item.sex %>
</p>

<p>
  <strong>メモ</strong>
  <%= @item.memo %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
